{
  "url": "https://developers.eduzz.com/api/openapi",
  "spec": {
    "openapi": "3.1.0",
    "info": {
      "title": "Eduzz Public API",
      "description": "Esta é a definição da api pública da Eduzz",
      "termsOfService": "https://example.com/terms/",
      "contact": {
        "name": "API Support",
        "url": "https://discord.gg/VxYf5y5Ry3",
        "email": "support@eduzz.com"
      },
      "license": {
        "name": "Apache 2.0",
        "url": "https://www.apache.org/licenses/LICENSE-2.0.html"
      },
      "version": "2.0.0"
    },
    "servers": [
      {
        "url": "https://api.eduzz.com",
        "description": "Production"
      }
    ],
    "webhooks": {
      "alpaclass.student_certificate_accessed": {
        "post": {
          "requestBody": {
            "description": "Notifica o quando o aluno acessou o certificado",
            "content": {
              "application/json": {
                "schema": {},
                "examples": {
                  "default": {
                    "value": {
                      "id": "4c832x3ynl8dwe7454941xzr5",
                      "event": "alpaclass.student_certificate_accessed",
                      "sentDate": "2024-06-12T12:00:10.000Z",
                      "data": {
                        "student": {
                          "id": "457391c9c82bfdcbb4947278c0401e41",
                          "name": "Fulano da Silva",
                          "email": "fulano.s@gmail.com"
                        },
                        "course": {
                          "id": "046d47672cf6212d201d6e8b0c191e73",
                          "name": "Princípios da Programação Orientada a Objetos"
                        },
                        "team": {
                          "id": "16943848cc6495142a8e3011d0173252",
                          "name": "Escola de Beltrano"
                        },
                        "certificateUrl": "https://certificados.alpaclass.../ZJ1zjj/certificado.pdf"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Webhook received"
          }
        }
      },
      "alpaclass.student_comment_created": {
        "post": {
          "requestBody": {
            "description": "Notifica o quando o aluno comentou em uma aula",
            "content": {
              "application/json": {
                "schema": {},
                "examples": {
                  "default": {
                    "value": {
                      "id": "4c832x3ynl8dwe7454941xzr5",
                      "event": "alpaclass.student_comment_created",
                      "sentDate": "2024-06-12T12:00:10.000Z",
                      "data": {
                        "student": {
                          "id": "457391c9c82bfdcbb4947278c0401e41",
                          "name": "Fulano da Silva",
                          "email": "fulano.s@gmail.com"
                        },
                        "lesson": {
                          "id": "6220a030be5f7a8c4760d3e9b4d5d9ee",
                          "name": "A história do POO"
                        },
                        "module": {
                          "id": "22884db148f0ffb0d830ba431102b0b5",
                          "name": "Módulo 1"
                        },
                        "course": {
                          "id": "046d47672cf6212d201d6e8b0c191e73",
                          "name": "Princípios da Programação Orientada a Objetos"
                        },
                        "team": {
                          "id": "16943848cc6495142a8e3011d0173252",
                          "name": "Escola de Beltrano"
                        },
                        "comment": "testando webhook eduzz"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Webhook received"
          }
        }
      },
      "alpaclass.student_lesson_unmarked_as_favorite": {
        "post": {
          "requestBody": {
            "description": "Notifica o quando o aluno desfavoritou a aula",
            "content": {
              "application/json": {
                "schema": {},
                "examples": {
                  "default": {
                    "value": {
                      "id": "4c832x3ynl8dwe7454941xzr5",
                      "event": "alpaclass.student_lesson_unmarked_as_favorite",
                      "sentDate": "2024-06-12T12:00:10.000Z",
                      "data": {
                        "student": {
                          "id": "457391c9c82bfdcbb4947278c0401e41",
                          "name": "Fulano da Silva",
                          "email": "fulano.s@gmail.com"
                        },
                        "lesson": {
                          "id": "6220a030be5f7a8c4760d3e9b4d5d9ee",
                          "name": "A história do POO"
                        },
                        "module": {
                          "id": "22884db148f0ffb0d830ba431102b0b5",
                          "name": "Módulo 1"
                        },
                        "course": {
                          "id": "046d47672cf6212d201d6e8b0c191e73",
                          "name": "Princípios da Programação Orientada a Objetos"
                        },
                        "team": {
                          "id": "16943848cc6495142a8e3011d0173252",
                          "name": "Escola de Beltrano"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Webhook received"
          }
        }
      },
      "alpaclass.student_lesson_unfinished": {
        "post": {
          "requestBody": {
            "description": "Notifica quando o aluno desmarcou a aula como concluída",
            "content": {
              "application/json": {
                "schema": {},
                "examples": {
                  "default": {
                    "value": {
                      "id": "4c832x3ynl8dwe7454941xzr5",
                      "event": "alpaclass.student_lesson_unfinished",
                      "sentDate": "2024-06-12T12:00:10.000Z",
                      "data": {
                        "progress": 50,
                        "student": {
                          "id": "457391c9c82bfdcbb4947278c0401e41",
                          "name": "Fulano da Silva",
                          "email": "fulano.s@gmail.com"
                        },
                        "lesson": {
                          "id": "6220a030be5f7a8c4760d3e9b4d5d9ee",
                          "name": "A história do POO"
                        },
                        "module": {
                          "id": "22884db148f0ffb0d830ba431102b0b5",
                          "name": "Módulo 1"
                        },
                        "course": {
                          "id": "046d47672cf6212d201d6e8b0c191e73",
                          "name": "Princípios da Programação Orientada a Objetos"
                        },
                        "team": {
                          "id": "16943848cc6495142a8e3011d0173252",
                          "name": "Escola de Beltrano"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Webhook received"
          }
        }
      },
      "alpaclass.student_course_unfinished": {
        "post": {
          "requestBody": {
            "description": "Notifica o quando o aluno desmarcou a finalização do curso",
            "content": {
              "application/json": {
                "schema": {},
                "examples": {
                  "default": {
                    "value": {
                      "id": "4c832x3ynl8dwe7454941xzr5",
                      "event": "alpaclass.student_course_unfinished",
                      "sentDate": "2024-06-12T12:00:10.000Z",
                      "data": {
                        "student": {
                          "id": "457391c9c82bfdcbb4947278c0401e41",
                          "name": "Fulano da Silva",
                          "email": "teste@email.com"
                        },
                        "course": {
                          "id": "046d47672cf6212d201d6e8b0c191e73",
                          "name": "Day trade para iniciantes"
                        },
                        "team": {
                          "id": "16943848cc6495142a8e3011d0173252",
                          "name": "Escola de Beltrano"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Webhook received"
          }
        }
      },
      "alpaclass.student_module_unfinished": {
        "post": {
          "requestBody": {
            "description": "Notifica quando o aluno desmarcou um módulo como finalizado",
            "content": {
              "application/json": {
                "schema": {},
                "examples": {
                  "default": {
                    "value": {
                      "event": "alpaclass.student_module_unfinished",
                      "data": {
                        "student": {
                          "id": "457391c9c82bfdcbb4947278c0401e41",
                          "name": "Fulano da Silva",
                          "email": "fulano.s@gmail.com"
                        },
                        "module": {
                          "id": "22884db148f0ffb0d830ba431102b0b5",
                          "name": "Módulo 1"
                        },
                        "course": {
                          "id": "046d47672cf6212d201d6e8b0c191e73",
                          "name": "Princípios da Programação Orientada a Objetos"
                        },
                        "team": {
                          "id": "16943848cc6495142a8e3011d0173252",
                          "name": "Escola de Beltrano"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Webhook received"
          }
        }
      },
      "alpaclass.student_lesson_marked_as_favorite": {
        "post": {
          "requestBody": {
            "description": "Notifica o quando o aluno favoritou a aula",
            "content": {
              "application/json": {
                "schema": {},
                "examples": {
                  "default": {
                    "value": {
                      "id": "4c832x3ynl8dwe7454941xzr5",
                      "event": "alpaclass.student_lesson_marked_as_favorite",
                      "sentDate": "2024-06-12T12:00:10.000Z",
                      "data": {
                        "student": {
                          "id": "457391c9c82bfdcbb4947278c0401e41",
                          "name": "Fulano da Silva",
                          "email": "fulano.s@gmail.com"
                        },
                        "lesson": {
                          "id": "6220a030be5f7a8c4760d3e9b4d5d9ee",
                          "name": "A história do POO"
                        },
                        "module": {
                          "id": "22884db148f0ffb0d830ba431102b0b5",
                          "name": "Módulo 1"
                        },
                        "course": {
                          "id": "046d47672cf6212d201d6e8b0c191e73",
                          "name": "Princípios da Programação Orientada a Objetos"
                        },
                        "team": {
                          "id": "16943848cc6495142a8e3011d0173252",
                          "name": "Escola de Beltrano"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Webhook received"
          }
        }
      },
      "alpaclass.student_course_finished": {
        "post": {
          "requestBody": {
            "description": "Notifica o quando o aluno finalizou o curso",
            "content": {
              "application/json": {
                "schema": {},
                "examples": {
                  "default": {
                    "value": {
                      "id": "4c832x3ynl8dwe7454941xzr5",
                      "event": "alpaclass.student_course_finished",
                      "sentDate": "2024-06-12T12:00:10.000Z",
                      "data": {
                        "student": {
                          "id": "457391c9c82bfdcbb4947278c0401e41",
                          "name": "Fulano da Silva",
                          "email": "teste@email.com"
                        },
                        "course": {
                          "id": "046d47672cf6212d201d6e8b0c191e73",
                          "name": "Day trade para iniciantes"
                        },
                        "team": {
                          "id": "16943848cc6495142a8e3011d0173252",
                          "name": "Escola de Beltrano"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Webhook received"
          }
        }
      },
      "alpaclass.student_module_finished": {
        "post": {
          "requestBody": {
            "description": "Notifica quando o aluno finalizou um módulo",
            "content": {
              "application/json": {
                "schema": {},
                "examples": {
                  "default": {
                    "value": {
                      "event": "alpaclass.student_module_finished",
                      "data": {
                        "student": {
                          "id": "457391c9c82bfdcbb4947278c0401e41",
                          "name": "Fulano da Silva",
                          "email": "fulano.s@gmail.com"
                        },
                        "module": {
                          "id": "22884db148f0ffb0d830ba431102b0b5",
                          "name": "Módulo 1"
                        },
                        "course": {
                          "id": "046d47672cf6212d201d6e8b0c191e73",
                          "name": "Princípios da Programação Orientada a Objetos"
                        },
                        "team": {
                          "id": "16943848cc6495142a8e3011d0173252",
                          "name": "Escola de Beltrano"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Webhook received"
          }
        }
      },
      "alpaclass.student_created": {
        "post": {
          "requestBody": {
            "description": "Notifica quando um aluno foi cadastrado na escola",
            "content": {
              "application/json": {
                "schema": {},
                "examples": {
                  "default": {
                    "value": {
                      "id": "4c832x3ynl8dwe7454941xzr5",
                      "event": "alpaclass.student_created",
                      "sentDate": "2024-06-12T12:00:10.000Z",
                      "data": {
                        "student": {
                          "id": "457391c9c82bfdcbb4947278c0401e41",
                          "name": "Fulano da Silva",
                          "email": "fulano@eduzz.com",
                          "document": "123.456.789-00",
                          "phone": "11999999999",
                          "createdAt": "2024-06-12T12:00:00.000Z",
                          "locale": "pt_BR"
                        },
                        "team": {
                          "id": "16943848cc6495142a8e3011d0173252",
                          "name": "Escola Teste"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Webhook received"
          }
        }
      },
      "alpaclass.student_lesson_finished": {
        "post": {
          "requestBody": {
            "description": "Notifica quando o aluno marcou a aula como concluída",
            "content": {
              "application/json": {
                "schema": {},
                "examples": {
                  "default": {
                    "value": {
                      "id": "4c832x3ynl8dwe7454941xzr5",
                      "event": "alpaclass.student_lesson_finished",
                      "sentDate": "2024-06-12T12:00:10.000Z",
                      "data": {
                        "progress": 50,
                        "student": {
                          "id": "457391c9c82bfdcbb4947278c0401e41",
                          "name": "Fulano da Silva",
                          "email": "fulano.s@gmail.com"
                        },
                        "lesson": {
                          "id": "6220a030be5f7a8c4760d3e9b4d5d9ee",
                          "name": "A história do POO"
                        },
                        "module": {
                          "id": "22884db148f0ffb0d830ba431102b0b5",
                          "name": "Módulo 1"
                        },
                        "course": {
                          "id": "046d47672cf6212d201d6e8b0c191e73",
                          "name": "Princípios da Programação Orientada a Objetos"
                        },
                        "team": {
                          "id": "16943848cc6495142a8e3011d0173252",
                          "name": "Escola de Beltrano"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Webhook received"
          }
        }
      },
      "alpaclass.student_lesson_last_seen": {
        "post": {
          "requestBody": {
            "description": "Notifica o último acesso do aluno na aula",
            "content": {
              "application/json": {
                "schema": {},
                "examples": {
                  "default": {
                    "value": {
                      "id": "4c832x3ynl8dwe7454941xzr5",
                      "event": "alpaclass.student_lesson_last_seen",
                      "sentDate": "2024-06-12T12:00:10.000Z",
                      "data": {
                        "student": {
                          "id": "457391c9c82bfdcbb4947278c0401e41",
                          "name": "Fulano da Silva",
                          "email": "fulano.s@gmail.com"
                        },
                        "lesson": {
                          "id": "6220a030be5f7a8c4760d3e9b4d5d9ee",
                          "name": "A história do POO"
                        },
                        "module": {
                          "id": "22884db148f0ffb0d830ba431102b0b5",
                          "name": "Módulo 1"
                        },
                        "course": {
                          "id": "046d47672cf6212d201d6e8b0c191e73",
                          "name": "Princípios da Programação Orientada a Objetos"
                        },
                        "team": {
                          "id": "16943848cc6495142a8e3011d0173252",
                          "name": "Escola de Beltrano"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Webhook received"
          }
        }
      },
      "alpaclass.student_course_last_seen": {
        "post": {
          "requestBody": {
            "description": "Notifica o último acesso do aluno no curso",
            "content": {
              "application/json": {
                "schema": {},
                "examples": {
                  "default": {
                    "value": {
                      "id": "4c832x3ynl8dwe7454941xzr5",
                      "event": "alpaclass.student_course_last_seen",
                      "sentDate": "2024-06-12T12:00:10.000Z",
                      "data": {
                        "student": {
                          "id": "457391c9c82bfdcbb4947278c0401e41",
                          "name": "Fulano da Silva",
                          "email": "teste@email.com"
                        },
                        "course": {
                          "id": "046d47672cf6212d201d6e8b0c191e73",
                          "name": "Day trade para iniciantes"
                        },
                        "team": {
                          "id": "16943848cc6495142a8e3011d0173252",
                          "name": "Escola de Beltrano"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Webhook received"
          }
        }
      },
      "blinket.ticket_edited": {
        "post": {
          "requestBody": {
            "description": "Notifica quando é realizada uma alteração em um ingresso ou lote",
            "content": {
              "application/json": {
                "schema": {},
                "examples": {
                  "default": {
                    "value": {
                      "id": "b07a59be974e47d192bd9e1951daea47",
                      "event": "blinket.ticket_edited",
                      "sentDate": "2024-01-20T15:00:00.000Z",
                      "data": {
                        "producer": {
                          "id": "1234",
                          "name": "João Silva",
                          "email": "joaosilva@teste.com"
                        },
                        "event": {
                          "id": "9b056848-beb0-44ff-9e76-d3ac131b6f50",
                          "name": "Teste evento",
                          "type": "online"
                        },
                        "tickets": [
                          {
                            "name": "Padrão",
                            "showOnEventPage": true,
                            "isPaid": true,
                            "isUnlimited": false,
                            "buyLimit": 0,
                            "buyMinimum": 0,
                            "batches": [
                              {
                                "contentId": "1733797",
                                "name": "Lote 1",
                                "quantity": 100,
                                "startSalesAt": "2024-01-09T15:00:00.000Z",
                                "endSalesAt": "2024-01-19T15:00:00.000Z",
                                "price": {
                                  "currency": "BRL",
                                  "value": 10
                                }
                              }
                            ]
                          }
                        ],
                        "createdAt": "2024-01-20T15:00:00.000Z"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Webhook received"
          }
        }
      },
      "blinket.attendance_checkin": {
        "post": {
          "requestBody": {
            "description": "Notifica quando é feito ou desfeito o check-in de um participante",
            "content": {
              "application/json": {
                "schema": {},
                "examples": {
                  "default": {
                    "value": {
                      "id": "a11f2a56ccbe4f5d9e452ad8a74bd52b",
                      "event": "blinket.attendance_checkin",
                      "sentDate": "2024-01-20T15:00:00.000Z",
                      "data": {
                        "producer": {
                          "id": "1234",
                          "name": "João Silva",
                          "email": "joaosilva@teste.com"
                        },
                        "event": {
                          "id": "9b056848-beb0-44ff-9e76-d3ac131b6f50",
                          "name": "Teste evento",
                          "type": "online"
                        },
                        "participant": {
                          "id": "1a31099e-6c47-40e9-8cf8-44fb05eeb4ee",
                          "inviteKey": "99999999",
                          "name": "Maria Silva",
                          "email": "mariasilva@teste.com",
                          "phone": "+5515999999999",
                          "document": {
                            "type": "cpf",
                            "number": "99999999999"
                          },
                          "status": "paid",
                          "assigned": true,
                          "manuallyCreated": false,
                          "checkInAt": "2024-01-09T14:25:31.098Z",
                          "tags": [
                            {
                              "id": "9e221e57-fb80-4bd9-845e-2a9684a93d37",
                              "title": "teste ",
                              "color": "#000dffb3"
                            }
                          ],
                          "customFields": {
                            "company": "Eduzz",
                            "occupation": "3",
                            "birthdate": "2025-07-09T03:00:00.000Z",
                            "jobTitle": "2"
                          }
                        },
                        "createdAt": "2024-01-20T15:00:00.000Z"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Webhook received"
          }
        }
      },
      "blinket.attendance_canceled": {
        "post": {
          "requestBody": {
            "description": "Notifica quando um ingresso é cancelado",
            "content": {
              "application/json": {
                "schema": {},
                "examples": {
                  "default": {
                    "value": {
                      "id": "6935513134164a7fac29eb686aec9da7",
                      "event": "blinket.attendance_canceled",
                      "sentDate": "2024-01-20T15:00:00.000Z",
                      "data": {
                        "producer": {
                          "id": "1234",
                          "name": "João Silva",
                          "email": "joaosilva@teste.com"
                        },
                        "event": {
                          "id": "9b056848-beb0-44ff-9e76-d3ac131b6f50",
                          "name": "Teste evento",
                          "type": "online"
                        },
                        "participant": {
                          "id": "1a31099e-6c47-40e9-8cf8-44fb05eeb4ee",
                          "inviteKey": "99999999",
                          "name": "Maria Silva",
                          "email": "mariasilva@test.com",
                          "phone": "+5599999999999",
                          "status": "canceled",
                          "manuallyCreated": false,
                          "tags": [
                            {
                              "id": "9e221e57-fb80-4bd9-845e-2a9684a93d37",
                              "title": "teste ",
                              "color": "#000dffb3"
                            }
                          ],
                          "customFields": {
                            "company": "Eduzz",
                            "occupation": "3",
                            "birthdate": "2025-07-09T03:00:00.000Z",
                            "jobTitle": "2"
                          }
                        },
                        "createdAt": "2024-01-20T15:00:00.000Z"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Webhook received"
          }
        }
      },
      "blinket.attendances_printed": {
        "post": {
          "requestBody": {
            "description": "Notifica quando o participante faz a impressão ou download de um ou mais ingressos",
            "content": {
              "application/json": {
                "schema": {},
                "examples": {
                  "default": {
                    "value": {
                      "id": "c801061d7d3d4ee5bbb3744a60d88e96",
                      "event": "blinket.attendances_printed",
                      "sentDate": "2024-01-20T15:00:00.000Z",
                      "data": {
                        "producer": {
                          "id": "1234",
                          "name": "João Silva",
                          "email": "joaosilva@teste.com"
                        },
                        "event": {
                          "id": "9b056848-beb0-44ff-9e76-d3ac131b6f50",
                          "name": "Teste evento",
                          "type": "online"
                        },
                        "participants": [
                          {
                            "id": "1a31099e-6c47-40e9-8cf8-44fb05eeb4ee",
                            "inviteKey": "17337976",
                            "name": "Teste QA Eduzz",
                            "email": "testeeduzzqa@eduzz.com",
                            "phone": "+5515999999999",
                            "document": {
                              "type": "cpf",
                              "number": "99999999999"
                            },
                            "status": "paid",
                            "assigned": true,
                            "manuallyCreated": false,
                            "checkInAt": "2024-01-09T14:25:31.098Z",
                            "checkInLink": "https://blinket/confirm/hashuuid",
                            "tags": [
                              {
                                "id": "9e221e57-fb80-4bd9-845e-2a9684a93d37",
                                "title": "teste ",
                                "color": "#000dffb3"
                              }
                            ],
                            "customFields": {
                              "company": "Eduzz",
                              "occupation": "3",
                              "birthdate": "2025-07-09T03:00:00.000Z",
                              "jobTitle": "2"
                            }
                          }
                        ],
                        "createdAt": "2024-01-20T15:00:00.000Z"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Webhook received"
          }
        }
      },
      "blinket.attendance_tag_changed": {
        "post": {
          "requestBody": {
            "description": "Notifica quando  um marcador é adicionado ou removido em um participante",
            "content": {
              "application/json": {
                "schema": {},
                "examples": {
                  "default": {
                    "value": {
                      "id": "110c266606f74239a894d3a2352507ee",
                      "event": "blinket.attendance_tag_changed",
                      "sentDate": "2024-01-20T15:00:00.000Z",
                      "data": {
                        "producer": {
                          "id": "1234",
                          "name": "João Silva",
                          "email": "joaosilva@teste.com"
                        },
                        "event": {
                          "id": "9b056848-beb0-44ff-9e76-d3ac131b6f50",
                          "name": "Teste evento",
                          "type": "online"
                        },
                        "participant": {
                          "id": "1a31099e-6c47-40e9-8cf8-44fb05eeb4ee",
                          "inviteKey": "99999999",
                          "name": "Maria Silva",
                          "email": "mariasilva@teste.com",
                          "phone": "+5515999999999",
                          "document": {
                            "type": "cpf",
                            "number": "99999999999"
                          },
                          "status": "paid",
                          "assigned": false,
                          "manuallyCreated": false,
                          "checkInAt": null,
                          "tags": [
                            {
                              "id": "9e221e57-fb80-4bd9-845e-2a9684a93d37",
                              "title": "teste ",
                              "color": "#000dffb3"
                            }
                          ],
                          "customFields": {
                            "company": "Eduzz",
                            "occupation": "3",
                            "birthdate": "2025-07-09T03:00:00.000Z",
                            "jobTitle": "2"
                          }
                        },
                        "createdAt": "2024-01-20T15:00:00.000Z"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Webhook received"
          }
        }
      },
      "blinket.attendance_added": {
        "post": {
          "requestBody": {
            "description": "Notifica quando é realizada uma compra de ingresso ou ingresso é gerado manualmente",
            "content": {
              "application/json": {
                "schema": {},
                "examples": {
                  "default": {
                    "value": {
                      "id": "33cad82ae0d84a66b139f521e1c62e29",
                      "event": "blinket.attendance_added",
                      "sentDate": "2024-01-20T15:00:00.000Z",
                      "data": {
                        "producer": {
                          "id": "1234",
                          "name": "João Silva",
                          "email": "joaosilva@teste.com"
                        },
                        "event": {
                          "id": "9b056848-beb0-44ff-9e76-d3ac131b6f50",
                          "name": "Teste evento",
                          "type": "online"
                        },
                        "ticket": {
                          "name": "Padrão",
                          "isPaid": true
                        },
                        "batch": {
                          "contentId": "1733797",
                          "name": "Lote 1",
                          "price": {
                            "currency": "BRL",
                            "value": 10
                          }
                        },
                        "buyer": {
                          "name": "Maria Silva",
                          "email": "mariasilva@teste.com",
                          "phone": "+5515999999999",
                          "id": "123123"
                        },
                        "participant": {
                          "id": "1a31099e-6c47-40e9-8cf8-44fb05eeb4ee",
                          "inviteKey": "99999999",
                          "name": "Maria Silva",
                          "email": "mariasilva@teste.com",
                          "phone": "+5515999999999",
                          "document": {
                            "type": "cpf",
                            "number": "99999999999"
                          },
                          "status": "paid",
                          "assigned": false,
                          "manuallyCreated": false,
                          "checkInAt": null,
                          "checkInLink": "https://blinket/confirm/hashuuid",
                          "tags": [
                            {
                              "id": "9e221e57-fb80-4bd9-845e-2a9684a93d37",
                              "title": "teste ",
                              "color": "#000dffb3"
                            }
                          ],
                          "customFields": {
                            "company": "Eduzz",
                            "occupation": "3",
                            "birthdate": "2025-07-09T03:00:00.000Z",
                            "jobTitle": "2"
                          }
                        },
                        "createdAt": "2024-01-20T15:00:00.000Z"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Webhook received"
          }
        }
      },
      "blinket.attendance_assigned": {
        "post": {
          "requestBody": {
            "description": "Notifica quando um ingresso é atribuído a uma pessoa",
            "content": {
              "application/json": {
                "schema": {},
                "examples": {
                  "default": {
                    "value": {
                      "id": "eca7c5256ad04d2fbade678a12f4f858",
                      "event": "attendance_assigned",
                      "sentDate": "2024-01-09T15:00:00.000Z",
                      "data": {
                        "createdAt": "2024-01-09T15:00:00.000Z",
                        "producer": {
                          "id": "1234",
                          "name": "QA Blinket",
                          "email": "qa-blinket@eduzz.com"
                        },
                        "event": {
                          "id": "9b056848-beb0-44ff-9e76-d3ac131b6f50",
                          "name": "Teste evento",
                          "type": "online"
                        },
                        "participant": {
                          "id": "1a31099e-6c47-40e9-8cf8-44fb05eeb4ee",
                          "inviteKey": "17337976",
                          "name": "Pessoa Teste",
                          "email": "test@test.com",
                          "phone": "+5599999999999",
                          "document": {
                            "type": "cpf",
                            "number": "99999999999"
                          },
                          "status": "paid",
                          "assigned": true,
                          "manuallyCreated": false,
                          "checkInAt": null,
                          "tags": [
                            {
                              "id": "9e221e57-fb80-4bd9-845e-2a9684a93d37",
                              "title": "teste ",
                              "color": "#000dffb3"
                            }
                          ],
                          "customFields": {
                            "company": "Eduzz",
                            "occupation": "3",
                            "birthdate": "2025-07-09T03:00:00.000Z",
                            "jobTitle": "2"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Webhook received"
          }
        }
      },
      "blinket.attendance_edited": {
        "post": {
          "requestBody": {
            "description": "Notifica quando as informações do participante são alteradas",
            "content": {
              "application/json": {
                "schema": {},
                "examples": {
                  "default": {
                    "value": {
                      "id": "ccf4c9664acd42b69c1b48ac513bcdb5",
                      "event": "blinket.attendance_edited",
                      "sentDate": "2024-01-20T15:00:00.000Z",
                      "data": {
                        "producer": {
                          "id": "1234",
                          "name": "João Silva",
                          "email": "joaosilva@teste.com"
                        },
                        "event": {
                          "id": "9b056848-beb0-44ff-9e76-d3ac131b6f50",
                          "name": "Teste evento",
                          "type": "online"
                        },
                        "participant": {
                          "id": "1a31099e-6c47-40e9-8cf8-44fb05eeb4ee",
                          "inviteKey": "99999999",
                          "name": "Maria Silva",
                          "email": "mariasilva@teste.com",
                          "phone": "+5515999999999",
                          "document": {
                            "type": "cpf",
                            "number": "99999999999"
                          },
                          "status": "paid",
                          "assigned": false,
                          "manuallyCreated": false,
                          "checkInAt": null,
                          "tags": [
                            {
                              "id": "9e221e57-fb80-4bd9-845e-2a9684a93d37",
                              "title": "teste ",
                              "color": "#000dffb3"
                            }
                          ],
                          "customFields": {
                            "company": "Eduzz",
                            "occupation": "3",
                            "birthdate": "2025-07-09T03:00:00.000Z",
                            "jobTitle": "2"
                          }
                        },
                        "createdAt": "2024-01-20T15:00:00.000Z"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Webhook received"
          }
        }
      },
      "myeduzz.contract_updated": {
        "post": {
          "requestBody": {
            "description": "Notifica quando um contrato é atualizado.",
            "content": {
              "application/json": {
                "schema": {},
                "examples": {
                  "default": {
                    "value": {
                      "id": "0f8488b2-4994-4736-804a-da5c46811461",
                      "event": "contract_updated",
                      "data": {
                        "producer": {
                          "id": "37296411",
                          "name": "Next Assinaturas",
                          "email": "qa-next@eduzz.com"
                        },
                        "products": [
                          {
                            "id": "1234",
                            "name": "Produto de assinatura",
                            "deliveries": [
                              "file",
                              "external",
                              "nutror",
                              "alpaclass"
                            ],
                            "plan": {
                              "id": null,
                              "name": null
                            },
                            "price": {
                              "currency": "BRL",
                              "value": 10
                            },
                            "membershipFee": {
                              "currency": "BRL",
                              "value": 10
                            }
                          }
                        ],
                        "contract": {
                          "id": "3456",
                          "payment": {
                            "method": "creditCard",
                            "totalOfInstallments": 12
                          },
                          "status": "upToDate",
                          "trialDays": 0,
                          "createdAt": "2024-01-15T15:00:00.000Z",
                          "updatedAt": "2024-01-15T15:00:00.000Z",
                          "contentAccess": {
                            "removeOnContractEnd": true,
                            "removeOnLatePayment": true
                          },
                          "isUnlimitedInstallments": false,
                          "recurrence": {
                            "startsAt": "2024-01-15T15:00:00.000Z",
                            "nextDue": "2024-02-15T15:00:00.000Z",
                            "currentDue": "2024-01-15T15:00:00.000Z",
                            "lastDue": "2025-01-09T15:00:00.000Z",
                            "finishesAt": "",
                            "frequency": {
                              "type": "month",
                              "value": 1
                            },
                            "charges": {
                              "total": 1,
                              "current": 1
                            },
                            "isFinite": true,
                            "price": {
                              "currency": "BRL",
                              "value": 10
                            }
                          }
                        },
                        "customer": {
                          "name": "Teste QA Eduzz",
                          "email": "testeeduzzqa@eduzz.com",
                          "phone": {
                            "countryCode": "55",
                            "areaCode": "15",
                            "number": "5999999999"
                          }
                        },
                        "financialResponsible": {
                          "name": "Responsável Financeiro",
                          "email": "financial-responsible@eduzz.com",
                          "phone": {
                            "countryCode": "55",
                            "areaCode": "15",
                            "number": "5999999999"
                          }
                        },
                        "reason": "status_updated"
                      },
                      "sentDate": "2025-08-15T16:42:10.000Z"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Webhook received"
          }
        }
      },
      "myeduzz.contract_created": {
        "post": {
          "requestBody": {
            "description": "Notifica quando um contrato é criado.",
            "content": {
              "application/json": {
                "schema": {},
                "examples": {
                  "default": {
                    "value": {
                      "id": "0f8488b2-4994-4736-804a-da5c46811461",
                      "event": "contract_created",
                      "data": {
                        "producer": {
                          "id": "37296411",
                          "name": "Next Assinaturas",
                          "email": "qa-next@eduzz.com"
                        },
                        "products": [
                          {
                            "id": "1234",
                            "name": "Produto de assinatura",
                            "deliveries": [
                              "file",
                              "external",
                              "nutror",
                              "alpaclass"
                            ],
                            "plan": {
                              "id": null,
                              "name": null
                            },
                            "price": {
                              "currency": "BRL",
                              "value": 10
                            },
                            "membershipFee": {
                              "currency": "BRL",
                              "value": 10
                            }
                          }
                        ],
                        "contract": {
                          "id": "3456",
                          "payment": {
                            "method": "creditCard",
                            "totalOfInstallments": 12
                          },
                          "status": "upToDate",
                          "trialDays": 0,
                          "createdAt": "2024-01-15T15:00:00.000Z",
                          "updatedAt": "2024-01-15T15:00:00.000Z",
                          "contentAccess": {
                            "removeOnContractEnd": true,
                            "removeOnLatePayment": true
                          },
                          "isUnlimitedInstallments": false,
                          "recurrence": {
                            "startsAt": "2024-01-15T15:00:00.000Z",
                            "nextDue": "2024-02-15T15:00:00.000Z",
                            "currentDue": "2024-01-15T15:00:00.000Z",
                            "lastDue": "2025-01-09T15:00:00.000Z",
                            "finishesAt": "",
                            "frequency": {
                              "type": "month",
                              "value": 1
                            },
                            "charges": {
                              "total": 1,
                              "current": 1
                            },
                            "isFinite": true,
                            "price": {
                              "currency": "BRL",
                              "value": 10
                            }
                          }
                        },
                        "customer": {
                          "name": "Teste QA Eduzz",
                          "email": "testeeduzzqa@eduzz.com",
                          "phone": {
                            "countryCode": "55",
                            "areaCode": "15",
                            "number": "5999999999"
                          }
                        },
                        "financialResponsible": {
                          "name": "Responsável Financeiro",
                          "email": "financial-responsible@eduzz.com",
                          "phone": {
                            "countryCode": "55",
                            "areaCode": "15",
                            "number": "5999999999"
                          }
                        }
                      },
                      "sentDate": "2025-08-15T16:42:10.000Z"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Webhook received"
          }
        }
      },
      "myeduzz.contract_bankslip_attempted": {
        "post": {
          "requestBody": {
            "description": "Notifica quando uma tentativa de cobrança de fatura de assinatura via Boleto Bancário é realizada.",
            "content": {
              "application/json": {
                "schema": {},
                "examples": {
                  "default": {
                    "value": {
                      "id": "0f8488b2-4994-4736-804a-da5c46811461",
                      "event": "contract_bankslip_attempted",
                      "data": {
                        "producer": {
                          "id": "123456",
                          "name": "Example Producer",
                          "email": "example-producer@mail.com"
                        },
                        "invoice": {
                          "id": "1234567",
                          "payment": {
                            "method": "bankslip",
                            "bankSlip": {
                              "url": "example.com/bankslip.pdf",
                              "barcode": "example-barcode"
                            }
                          },
                          "isNegotiation": false,
                          "status": "open",
                          "dueDate": "2025-01-01T10:00:00.000Z",
                          "attemptDate": "2025-01-01T10:00:00.000Z"
                        },
                        "contract": {
                          "id": "12345678",
                          "payment": {
                            "method": "bankslip"
                          },
                          "status": "upToDate",
                          "createdAt": "2025-05-29T11:38:34.000Z",
                          "updatedAt": "2025-06-02T00:00:21.000Z"
                        },
                        "customer": {
                          "id": "87654321",
                          "name": "Example Customer",
                          "email": "example-customer@mail.com"
                        }
                      },
                      "sentDate": "2025-08-15T16:42:10.000Z"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Webhook received"
          }
        }
      },
      "myeduzz.contract_card_attempted": {
        "post": {
          "requestBody": {
            "description": "Notifica quando uma tentativa de cobrança de fatura de assinatura via Cartão (Débito ou Crédito) é realizada.",
            "content": {
              "application/json": {
                "schema": {},
                "examples": {
                  "default": {
                    "value": {
                      "id": "0f8488b2-4994-4736-804a-da5c46811461",
                      "event": "contract_card_attempted",
                      "data": {
                        "producer": {
                          "id": "123456",
                          "name": "Example Producer",
                          "email": "example-producer@mail.com"
                        },
                        "invoice": {
                          "id": "1234567",
                          "payment": {
                            "method": "creditCard",
                            "installments": 1
                          },
                          "isNegotiation": false,
                          "failReason": null,
                          "failReasonMessage": null,
                          "status": "paid",
                          "dueDate": "2025-01-01T10:00:00.000Z",
                          "attemptDate": "2025-01-01T10:00:00.000Z"
                        },
                        "contract": {
                          "id": "12345678",
                          "payment": {
                            "method": "creditCard",
                            "installments": 1
                          },
                          "status": "upToDate",
                          "createdAt": "2025-05-29T11:38:34.000Z",
                          "updatedAt": "2025-06-02T00:00:21.000Z"
                        },
                        "customer": {
                          "id": "87654321",
                          "name": "Example Customer",
                          "email": "example-customer@mail.com"
                        }
                      },
                      "sentDate": "2025-08-15T16:42:10.000Z"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Webhook received"
          }
        }
      },
      "myeduzz.contract_pix_attempted": {
        "post": {
          "requestBody": {
            "description": "Notifica quando uma tentativa de cobrança de fatura de assinatura via Pix é realizada.",
            "content": {
              "application/json": {
                "schema": {},
                "examples": {
                  "default": {
                    "value": {
                      "id": "0f8488b2-4994-4736-804a-da5c46811461",
                      "event": "contract_pix_attempted",
                      "data": {
                        "producer": {
                          "id": "123456",
                          "name": "Example Producer",
                          "email": "example-producer@mail.com"
                        },
                        "invoice": {
                          "id": "1234567",
                          "payment": {
                            "method": "pix",
                            "pix": {
                              "base64Code": "data:image/png;base64,example-base64-code",
                              "qrCode": "example"
                            }
                          },
                          "isNegotiation": false,
                          "status": "open",
                          "dueDate": "2025-01-01T10:00:00.000Z",
                          "attemptDate": "2025-01-01T10:00:00.000Z"
                        },
                        "contract": {
                          "id": "12345678",
                          "payment": {
                            "method": "pix"
                          },
                          "status": "upToDate",
                          "createdAt": "2025-05-29T11:38:34.000Z",
                          "updatedAt": "2025-06-02T00:00:21.000Z"
                        },
                        "customer": {
                          "id": "87654321",
                          "name": "Example Customer",
                          "email": "example-customer@mail.com"
                        }
                      },
                      "sentDate": "2025-08-15T16:42:10.000Z"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Webhook received"
          }
        }
      },
      "myeduzz.contract_eduzz_balance_attempted": {
        "post": {
          "requestBody": {
            "description": "Notifica quando uma tentativa de cobrança de fatura de assinatura via Saldo Eduzz é realizada.",
            "content": {
              "application/json": {
                "schema": {},
                "examples": {
                  "default": {
                    "value": {
                      "id": "0f8488b2-4994-4736-804a-da5c46811461",
                      "event": "contract_eduzz_balance_attempted",
                      "data": {
                        "producer": {
                          "id": "123456",
                          "name": "Example Producer",
                          "email": "example-producer@mail.com"
                        },
                        "invoice": {
                          "id": "1234567",
                          "payment": {
                            "method": "eduzzBalance"
                          },
                          "isNegotiation": false,
                          "status": "paid",
                          "failReason": null,
                          "failReasonMessage": null,
                          "dueDate": "2025-01-01T10:00:00.000Z",
                          "attemptDate": "2025-01-01T10:00:00.000Z"
                        },
                        "contract": {
                          "id": "12345678",
                          "payment": {
                            "method": "eduzzBalance"
                          },
                          "status": "upToDate",
                          "createdAt": "2025-05-29T11:38:34.000Z",
                          "updatedAt": "2025-06-02T00:00:21.000Z"
                        },
                        "customer": {
                          "id": "87654321",
                          "name": "Example Customer",
                          "email": "example-customer@mail.com"
                        }
                      },
                      "sentDate": "2025-08-15T16:42:10.000Z"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Webhook received"
          }
        }
      },
      "myeduzz.commission_processed": {
        "post": {
          "requestBody": {
            "description": "Notifica quando uma fatura é paga e as comissões são processadas",
            "content": {
              "application/json": {
                "schema": {},
                "examples": {
                  "default": {
                    "value": {
                      "id": "33cad82ae0d84a66b139f521e1c62e29",
                      "event": "myeduzz.commission_processed",
                      "sentDate": "2024-01-20T15:00:00.000Z",
                      "data": {
                        "invoiceId": "12345678",
                        "createdAt": "2024-01-09T14:45:00.000Z",
                        "price": {
                          "currency": "BRL",
                          "value": 301.5
                        },
                        "commissions": {
                          "producer": {
                            "id": "789451",
                            "name": "Producer name",
                            "currency": "BRL",
                            "value": 90
                          },
                          "coproducers": [
                            {
                              "id": "789451",
                              "name": "Coproducer name",
                              "currency": "BRL",
                              "value": 10
                            }
                          ],
                          "affiliates": [
                            {
                              "id": "658932",
                              "name": "Affiliate name",
                              "currency": "BRL",
                              "value": 2
                            }
                          ]
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Webhook received"
          }
        }
      },
      "myeduzz.invoice_opened": {
        "post": {
          "requestBody": {
            "description": "Notifica quando o status da fatura muda para aberta",
            "content": {
              "application/json": {
                "schema": {},
                "examples": {
                  "default": {
                    "value": {
                      "id": "zszf0uk65g701io8dbsckfeld",
                      "event": "myeduzz.invoice_opened",
                      "data": {
                        "id": "12345678",
                        "status": "open",
                        "buyer": {
                          "id": "66677677767",
                          "name": "Alice Johnson",
                          "document": "12333333",
                          "email": "alice.johnson@example.com",
                          "phone": "555-789-1234",
                          "phone2": "555-987-6543",
                          "cellphone": "555-321-9876",
                          "address": {
                            "street": "Rua avenida",
                            "number": "123",
                            "neighborhood": "Bairro",
                            "complement": "Complemento",
                            "city": "Cidade",
                            "state": "Estado",
                            "country": "Brasil",
                            "zipCode": "12345-123"
                          }
                        },
                        "producer": {
                          "id": "1454585458",
                          "name": "Orbita",
                          "email": "orbita@eduzz.com",
                          "originSecret": "originsecrettest"
                        },
                        "offer": {
                          "name": "Oferta Base"
                        },
                        "utm": {
                          "source": "source",
                          "campaign": "campaign",
                          "medium": "medium",
                          "content": "content",
                          "term": "term"
                        },
                        "tracker": {
                          "code1": "tracking-1",
                          "code2": "tracking-2",
                          "code3": "tracking-3"
                        },
                        "createdAt": "2024-01-09T14:45:00.000Z",
                        "dueDate": "2024-01-13T17:45:00.000Z",
                        "barcode": "88846758782537262653776655566",
                        "price": {
                          "currency": "BRL",
                          "value": 301.5
                        },
                        "orderBump": {
                          "has": true,
                          "isMainSale": false,
                          "mainSaleId": 123456
                        },
                        "installments": 1,
                        "items": [
                          {
                            "productId": "P567",
                            "name": "Widget X",
                            "parentId": "11111111",
                            "refundPeriod": {
                              "durationType": "days",
                              "value": 7
                            },
                            "price": {
                              "currency": "BRL",
                              "value": 150.75
                            },
                            "coupon": {
                              "id": "123444",
                              "key": "cupomeduzz",
                              "discount": {
                                "currency": "BRL",
                                "value": 2
                              }
                            },
                            "partnerId": "12312321312321",
                            "billingType": "Única",
                            "skuReference": "skuReference"
                          },
                          {
                            "productId": "P789",
                            "name": "Gadget Y",
                            "parentId": "1111221",
                            "refundPeriod": {
                              "durationType": "days",
                              "value": 7
                            },
                            "price": {
                              "currency": "BRL",
                              "value": 150.75
                            },
                            "coupon": {
                              "id": "123444",
                              "key": "cupomeduzz",
                              "discount": {
                                "currency": "BRL",
                                "value": 1
                              }
                            },
                            "partnerId": "12312321312321",
                            "billingType": "single",
                            "skuReference": "skuReference"
                          }
                        ],
                        "totalItems": 2,
                        "billetUrl": "https://urlbillet.com.br",
                        "checkoutUrl": "https://urlcheckout.com.br",
                        "bankslipUrl": "https://urlbankslip.com.br",
                        "paymentMethod": "creditCard",
                        "postback": "https://urlpostback.com.br",
                        "saleRecoveryUrl": "https://edz.la/r/12345678/1234?t=15",
                        "bankSlipInstallment": {
                          "installmentNumber": 1,
                          "totalInstallments": 2
                        },
                        "contract": {
                          "id": "12345678",
                          "isUnlimitedInstallments": false
                        },
                        "payment": {
                          "method": "pix",
                          "details": "automaticPix"
                        }
                      },
                      "sentDate": "2024-01-20T15:00:00.000Z"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Webhook received"
          }
        }
      },
      "myeduzz.invoice_scheduled": {
        "post": {
          "requestBody": {
            "description": "Notifica quando o status da fatura muda para agendada",
            "content": {
              "application/json": {
                "schema": {},
                "examples": {
                  "default": {
                    "value": {
                      "id": "zszf0uk65g701io8dbsckfeld",
                      "event": "myeduzz.invoice_scheduled",
                      "data": {
                        "id": "12345678",
                        "status": "scheduled",
                        "buyer": {
                          "id": "66677677767",
                          "name": "Alice Johnson",
                          "document": "12333333",
                          "email": "alice.johnson@example.com",
                          "phone": "555-789-1234",
                          "phone2": "555-987-6543",
                          "cellphone": "555-321-9876",
                          "address": {
                            "street": "Rua avenida",
                            "number": "123",
                            "neighborhood": "Bairro",
                            "complement": "Complemento",
                            "city": "Cidade",
                            "state": "Estado",
                            "country": "Brasil",
                            "zipCode": "12345-123"
                          }
                        },
                        "producer": {
                          "id": "1454585458",
                          "name": "Orbita",
                          "email": "orbita@eduzz.com",
                          "originSecret": "originsecrettest"
                        },
                        "offer": {
                          "name": "Oferta Base"
                        },
                        "utm": {
                          "source": "source",
                          "campaign": "campaign",
                          "medium": "medium",
                          "content": "content",
                          "term": "term"
                        },
                        "tracker": {
                          "code1": "tracking-1",
                          "code2": "tracking-2",
                          "code3": "tracking-3"
                        },
                        "createdAt": "2024-01-09T14:45:00.000Z",
                        "dueDate": "2024-01-13T17:45:00.000Z",
                        "barcode": "88846758782537262653776655566",
                        "price": {
                          "currency": "BRL",
                          "value": 301.5
                        },
                        "orderBump": {
                          "has": true,
                          "isMainSale": false,
                          "mainSaleId": 123456
                        },
                        "installments": 1,
                        "items": [
                          {
                            "productId": "P567",
                            "name": "Widget X",
                            "parentId": "11111111",
                            "refundPeriod": {
                              "durationType": "days",
                              "value": 7
                            },
                            "price": {
                              "currency": "BRL",
                              "value": 150.75
                            },
                            "coupon": {
                              "id": "123444",
                              "key": "cupomeduzz",
                              "discount": {
                                "currency": "BRL",
                                "value": 2
                              }
                            },
                            "partnerId": "12312321312321",
                            "billingType": "Única",
                            "skuReference": "skuReference"
                          },
                          {
                            "productId": "P789",
                            "name": "Gadget Y",
                            "parentId": "1111221",
                            "refundPeriod": {
                              "durationType": "days",
                              "value": 7
                            },
                            "price": {
                              "currency": "BRL",
                              "value": 150.75
                            },
                            "coupon": {
                              "id": "123444",
                              "key": "cupomeduzz",
                              "discount": {
                                "currency": "BRL",
                                "value": 1
                              }
                            },
                            "partnerId": "12312321312321",
                            "billingType": "single",
                            "skuReference": "skuReference"
                          }
                        ],
                        "totalItems": 2,
                        "billetUrl": "https://urlbillet.com.br",
                        "checkoutUrl": "https://urlcheckout.com.br",
                        "bankslipUrl": "https://urlbankslip.com.br",
                        "postback": "https://urlpostback.com.br",
                        "paymentMethod": "creditCard",
                        "bankSlipInstallment": {
                          "installmentNumber": 1,
                          "totalInstallments": 2
                        },
                        "contract": {
                          "id": "12345678",
                          "isUnlimitedInstallments": false
                        },
                        "payment": {
                          "method": "pix",
                          "details": "automaticPix"
                        }
                      },
                      "sentDate": "2024-01-20T15:00:00.000Z"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Webhook received"
          }
        }
      },
      "myeduzz.invoice_waiting_payment": {
        "post": {
          "requestBody": {
            "description": "Notifica quando o status da fatura muda para aguardando pagamento",
            "content": {
              "application/json": {
                "schema": {},
                "examples": {
                  "default": {
                    "value": {
                      "id": "zszf0uk65g701io8dbsckfeld",
                      "event": "myeduzz.invoice_waiting_payment",
                      "data": {
                        "id": "12345678",
                        "status": "waiting_payment",
                        "buyer": {
                          "id": "66677677767",
                          "name": "Alice Johnson",
                          "document": "12333333",
                          "email": "alice.johnson@example.com",
                          "phone": "555-789-1234",
                          "phone2": "555-987-6543",
                          "cellphone": "555-321-9876",
                          "address": {
                            "street": "Rua avenida",
                            "number": "123",
                            "neighborhood": "Bairro",
                            "complement": "Complemento",
                            "city": "Cidade",
                            "state": "Estado",
                            "country": "Brasil",
                            "zipCode": "12345-123"
                          }
                        },
                        "producer": {
                          "id": "1454585458",
                          "name": "Orbita",
                          "email": "orbita@eduzz.com",
                          "originSecret": "originsecrettest"
                        },
                        "offer": {
                          "name": "Oferta Base"
                        },
                        "utm": {
                          "source": "source",
                          "campaign": "campaign",
                          "medium": "medium",
                          "content": "content",
                          "term": "term"
                        },
                        "tracker": {
                          "code1": "tracking-1",
                          "code2": "tracking-2",
                          "code3": "tracking-3"
                        },
                        "createdAt": "2024-01-09T14:45:00.000Z",
                        "dueDate": "2024-01-13T17:45:00.000Z",
                        "barcode": "88846758782537262653776655566",
                        "price": {
                          "currency": "BRL",
                          "value": 301.5
                        },
                        "orderBump": {
                          "has": true,
                          "isMainSale": false,
                          "mainSaleId": 123456
                        },
                        "installments": 1,
                        "items": [
                          {
                            "productId": "P567",
                            "name": "Widget X",
                            "parentId": "11111111",
                            "refundPeriod": {
                              "durationType": "days",
                              "value": 7
                            },
                            "price": {
                              "currency": "BRL",
                              "value": 150.75
                            },
                            "coupon": {
                              "id": "123444",
                              "key": "cupomeduzz",
                              "discount": {
                                "currency": "BRL",
                                "value": 2
                              }
                            },
                            "partnerId": "12312321312321",
                            "billingType": "Única",
                            "skuReference": "skuReference"
                          },
                          {
                            "productId": "P789",
                            "name": "Gadget Y",
                            "parentId": "1111221",
                            "refundPeriod": {
                              "durationType": "days",
                              "value": 7
                            },
                            "price": {
                              "currency": "BRL",
                              "value": 150.75
                            },
                            "coupon": {
                              "id": "123444",
                              "key": "cupomeduzz",
                              "discount": {
                                "currency": "BRL",
                                "value": 1
                              }
                            },
                            "partnerId": "12312321312321",
                            "billingType": "single",
                            "skuReference": "skuReference"
                          }
                        ],
                        "totalItems": 2,
                        "billetUrl": "https://urlbillet.com.br",
                        "checkoutUrl": "https://urlcheckout.com.br",
                        "bankslipUrl": "https://urlbankslip.com.br",
                        "postback": "https://urlpostback.com.br",
                        "paymentMethod": "creditCard",
                        "bankSlipInstallment": {
                          "installmentNumber": 1,
                          "totalInstallments": 2
                        },
                        "contract": {
                          "id": "12345678",
                          "isUnlimitedInstallments": false
                        },
                        "payment": {
                          "method": "pix",
                          "details": "automaticPix"
                        }
                      },
                      "sentDate": "2024-01-20T15:00:00.000Z"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Webhook received"
          }
        }
      },
      "myeduzz.invoice_waiting_refund": {
        "post": {
          "requestBody": {
            "description": "Notifica quando o status da fatura muda para aguardando reembolso",
            "content": {
              "application/json": {
                "schema": {},
                "examples": {
                  "default": {
                    "value": {
                      "id": "zszf0uk65g701io8dbsckfeld",
                      "event": "myeduzz.invoice_waiting_refund",
                      "data": {
                        "id": "12345678",
                        "status": "waiting_refund",
                        "buyer": {
                          "id": "66677677767",
                          "name": "Alice Johnson",
                          "document": "12333333",
                          "email": "alice.johnson@example.com",
                          "phone": "555-789-1234",
                          "phone2": "555-987-6543",
                          "cellphone": "555-321-9876",
                          "address": {
                            "street": "Rua avenida",
                            "number": "123",
                            "neighborhood": "Bairro",
                            "complement": "Complemento",
                            "city": "Cidade",
                            "state": "Estado",
                            "country": "Brasil",
                            "zipCode": "12345-123"
                          }
                        },
                        "producer": {
                          "id": "1454585458",
                          "name": "Orbita",
                          "email": "orbita@eduzz.com",
                          "originSecret": "originsecrettest"
                        },
                        "offer": {
                          "name": "Oferta Base"
                        },
                        "utm": {
                          "source": "source",
                          "campaign": "campaign",
                          "medium": "medium",
                          "content": "content",
                          "term": "term"
                        },
                        "tracker": {
                          "code1": "tracking-1",
                          "code2": "tracking-2",
                          "code3": "tracking-3"
                        },
                        "createdAt": "2024-01-09T14:45:00.000Z",
                        "dueDate": "2024-01-13T17:45:00.000Z",
                        "barcode": "88846758782537262653776655566",
                        "price": {
                          "currency": "BRL",
                          "value": 301.5
                        },
                        "paid": {
                          "currency": "BRL",
                          "value": 301.5
                        },
                        "orderBump": {
                          "has": true,
                          "isMainSale": false,
                          "mainSaleId": 123456
                        },
                        "installments": 1,
                        "items": [
                          {
                            "productId": "P567",
                            "name": "Widget X",
                            "parentId": "11111111",
                            "refundPeriod": {
                              "durationType": "days",
                              "value": 7
                            },
                            "price": {
                              "currency": "BRL",
                              "value": 150.75
                            },
                            "coupon": {
                              "id": "123444",
                              "key": "cupomeduzz",
                              "discount": {
                                "currency": "BRL",
                                "value": 2
                              }
                            },
                            "partnerId": "12312321312321",
                            "billingType": "Única",
                            "skuReference": "skuReference"
                          },
                          {
                            "productId": "P789",
                            "name": "Gadget Y",
                            "parentId": "1111221",
                            "refundPeriod": {
                              "durationType": "days",
                              "value": 7
                            },
                            "price": {
                              "currency": "BRL",
                              "value": 150.75
                            },
                            "coupon": {
                              "id": "123444",
                              "key": "cupomeduzz",
                              "discount": {
                                "currency": "BRL",
                                "value": 2
                              }
                            },
                            "partnerId": "12312321312321",
                            "billingType": "single",
                            "skuReference": "skuReference"
                          }
                        ],
                        "totalItems": 2,
                        "billetUrl": "https://urlbillet.com.br",
                        "checkoutUrl": "https://urlcheckout.com.br",
                        "bankslipUrl": "https://urlbankslip.com.br",
                        "affiliate": {
                          "id": "1454585458",
                          "name": "Afiliado",
                          "email": "afiliado@eduzz.com"
                        },
                        "paidAt": "2024-01-10T17:45:00.000Z",
                        "paymentMethod": "creditCard",
                        "transaction": {
                          "id": "123456",
                          "key": "chavetransação"
                        },
                        "student": {
                          "id": "666733767",
                          "name": "Rick Jones",
                          "document": "23123213",
                          "email": "rick.jones@example.com",
                          "phone": "555-789-1134",
                          "phone2": "555-987-6443",
                          "cellphone": "555-321-9856"
                        },
                        "gains": {
                          "producer": {
                            "currency": "BRL",
                            "value": 2200
                          },
                          "coproducer": {
                            "currency": "BRL",
                            "value": 22
                          },
                          "affiliate": {
                            "currency": "BRL",
                            "value": 211
                          }
                        },
                        "fees": {
                          "eduzz": {
                            "currency": "BRL",
                            "value": 10
                          },
                          "recovery": {
                            "currency": "BRL",
                            "value": 11
                          },
                          "alumy": {
                            "currency": "BRL",
                            "value": 122
                          },
                          "total": {
                            "currency": "BRL",
                            "value": 143
                          }
                        },
                        "chargeback": {
                          "status": "pendingDocuments",
                          "createdAt": "2024-01-15T14:45:00.000Z",
                          "limitDate": "2024-01-20T17:45:00.000Z",
                          "finishedAt": null
                        },
                        "bankSlipInstallment": {
                          "installmentNumber": 1,
                          "totalInstallments": 2
                        },
                        "contract": {
                          "id": "12345678",
                          "isUnlimitedInstallments": false
                        },
                        "payment": {
                          "method": "pix",
                          "details": "automaticPix"
                        }
                      },
                      "sentDate": "2024-01-20T15:00:00.000Z"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Webhook received"
          }
        }
      },
      "myeduzz.invoice_canceled": {
        "post": {
          "requestBody": {
            "description": "Notifica quando o status da fatura muda para cancelada",
            "content": {
              "application/json": {
                "schema": {},
                "examples": {
                  "default": {
                    "value": {
                      "id": "zszf0uk65g701io8dbsckfeld",
                      "event": "myeduzz.invoice_canceled",
                      "data": {
                        "id": "12345678",
                        "status": "canceled",
                        "buyer": {
                          "id": "66677677767",
                          "name": "Alice Johnson",
                          "document": "12333333",
                          "email": "alice.johnson@example.com",
                          "phone": "555-789-1234",
                          "phone2": "555-987-6543",
                          "cellphone": "555-321-9876",
                          "address": {
                            "street": "Rua avenida",
                            "number": "123",
                            "neighborhood": "Bairro",
                            "complement": "Complemento",
                            "city": "Cidade",
                            "state": "Estado",
                            "country": "Brasil",
                            "zipCode": "12345-123"
                          }
                        },
                        "producer": {
                          "id": "1454585458",
                          "name": "Orbita",
                          "email": "orbita@eduzz.com",
                          "originSecret": "originsecrettest"
                        },
                        "offer": {
                          "name": "Oferta Base"
                        },
                        "utm": {
                          "source": "source",
                          "campaign": "campaign",
                          "medium": "medium",
                          "content": "content",
                          "term": "term"
                        },
                        "tracker": {
                          "code1": "tracking-1",
                          "code2": "tracking-2",
                          "code3": "tracking-3"
                        },
                        "createdAt": "2024-01-09T14:45:00.000Z",
                        "dueDate": "2024-01-13T17:45:00.000Z",
                        "barcode": "88846758782537262653776655566",
                        "price": {
                          "currency": "BRL",
                          "value": 301.5
                        },
                        "orderBump": {
                          "has": true,
                          "isMainSale": false,
                          "mainSaleId": 123456
                        },
                        "installments": 1,
                        "items": [
                          {
                            "productId": "P567",
                            "name": "Widget X",
                            "parentId": "11111111",
                            "refundPeriod": {
                              "durationType": "days",
                              "value": 7
                            },
                            "price": {
                              "currency": "BRL",
                              "value": 150.75
                            },
                            "coupon": {
                              "id": "123444",
                              "key": "cupomeduzz",
                              "discount": {
                                "currency": "BRL",
                                "value": 2
                              }
                            },
                            "partnerId": "12312321312321",
                            "billingType": "Única",
                            "skuReference": "skuReference"
                          },
                          {
                            "productId": "P789",
                            "name": "Gadget Y",
                            "parentId": "1111221",
                            "refundPeriod": {
                              "durationType": "days",
                              "value": 7
                            },
                            "price": {
                              "currency": "BRL",
                              "value": 150.75,
                              "coupon": {
                                "id": "123444",
                                "key": "cupomeduzz",
                                "discount": {
                                  "currency": "BRL",
                                  "value": 1
                                }
                              }
                            },
                            "partnerId": "12312321312321",
                            "billingType": "single",
                            "skuReference": "skuReference"
                          }
                        ],
                        "totalItems": 2,
                        "billetUrl": "https://urlbillet.com.br",
                        "checkoutUrl": "https://urlcheckout.com.br",
                        "bankslipUrl": "https://urlbankslip.com.br",
                        "paymentMethod": "creditCard",
                        "postback": "https://urlpostback.com.br",
                        "bankSlipInstallment": {
                          "installmentNumber": 1,
                          "totalInstallments": 2
                        },
                        "contract": {
                          "id": "12345678",
                          "isUnlimitedInstallments": false
                        },
                        "payment": {
                          "method": "pix",
                          "details": "automaticPix"
                        }
                      },
                      "sentDate": "2024-01-20T15:00:00.000Z"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Webhook received"
          }
        }
      },
      "myeduzz.invoice_chargeback": {
        "post": {
          "requestBody": {
            "description": "Notifica quando o status do chargeback da fatura muda",
            "content": {
              "application/json": {
                "schema": {},
                "examples": {
                  "default": {
                    "value": {
                      "id": "zszf0uk65g701io8dbsckfeld",
                      "event": "myeduzz.invoice_chargeback",
                      "data": {
                        "id": "12345678",
                        "status": "paid",
                        "buyer": {
                          "id": "66677677767",
                          "name": "Alice Johnson",
                          "document": "12333333",
                          "email": "alice.johnson@example.com",
                          "phone": "555-789-1234",
                          "phone2": "555-987-6543",
                          "cellphone": "555-321-9876",
                          "address": {
                            "street": "Rua avenida",
                            "number": "123",
                            "neighborhood": "Bairro",
                            "complement": "Complemento",
                            "city": "Cidade",
                            "state": "Estado",
                            "country": "Brasil",
                            "zipCode": "12345-123"
                          }
                        },
                        "producer": {
                          "id": "1454585458",
                          "name": "Orbita",
                          "email": "orbita@eduzz.com",
                          "originSecret": "originsecrettest"
                        },
[...]
